.background {
  background-color: #F9A938;
  background-image: url("../../../../public/images/ImagineAPlace.png");
  background-size: cover; // Keep the original size of the image
  background-repeat: no-repeat;
  background-position: center;
  &.narrow {
    background-position: right;
  }
  height: 600px;
  display: flex;
  flex-direction: column;
  & > .buttonContainer {
    width: 92%;
    justify-content: right;
    user-select: none;
    float: right;
    margin:{
      right: 8%;
      top: 21px;
    }
    display: flex;
    .button {
      user-select: none;
      box-sizing: border-box;
      padding: 8px 15px;
      font-size: 13px;
      font-weight: 500;
      border-radius: 28px;
      margin-left: 15px;
      float: right;
      background-color: white;
      color: #23272A;
      &:hover {
        cursor: pointer;
      }
    }
  }
}

.header {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  h1 {
    font-size: 56px;
    font-weight: 800;
    text-transform: uppercase;
  }
  p {
    max-width: 770px;
    font-size: 20px;
    font-weight: 400;
  }
  &.narrow {
    text-align: left;
    align-items: start;
    p {
      margin-left: 35px;
      max-width: 400px;
    }
    h1 {
      margin-left: 35px;
    }
  }
  .buttonContainer {
    user-select: none;
    margin-top: 76px;
    display: flex;
    flex-wrap: wrap;
    //flex: 1;
    //width: 700px;

    .leftColumn {
      float: left;
    }
    .rightColumn {
      float: right;
    }
    .button {
      box-sizing: border-box;
      padding: 16px 37px;
      font-size: 18px;
      font-weight: 500;
      border-radius: 28px;
      margin: 10px 35px;
      &:hover {
        cursor: pointer;
      }
    }
    .white {
      background-color: white;
      color: #23272A;
    }
    .black {
      background-color: #23272A;
      color: white;
    }
  }
}