@import "../../../../imageContainer";

.invitation {
  background-color: #232323;
  border-radius: 5px;
  width: calc(100% - 28px);
  max-width: 374px;
  padding: 14px {
    right: 0;
  };

  .row {
    display: flex;
    margin-top: 10px;
    align-items: center;

    .iconContainer {
      @include customImageContainer(0px, 50px);
      flex: 0 0 50px;
      border-radius: 30%;
      background-color: #333333 ;
      & > img {
        width: 50px;
        height: 50px;
      }
      .textContainer {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        h1 {
          font-size: 20px;
          font-weight: 200;
        }
      }
    }

    .info {
      flex: 1;
      margin-left: 10px;
    }

    .button {
      height: 38px;
      width: 70px;
      background-color: #F1930F;
      border-radius: 5px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: 600;
      font-size: 15px;

      margin-right: 14px;
      flex: 0 0 70px;

      &:hover{
        cursor: pointer;
        background: #c07318;
      }
    }
  }


  h2 {
    font-size: 16px;
    color: white;
    font-weight: 600;
  }

  p {
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 600;
    color: #A2A2A2;
  }

  span {
    font-size: 12px;
    font-weight: 200;
    color: #A2A2A2;
  }

  .invalidText {
    color: #da2a00
  }
}