@import "../imageContainer";

$chatIconMargin: 6px;
$chatHeight: 50px;
$chatIconSize: calc($chatHeight - $chatIconMargin*2);

.container {
  list-style: none;
  display: flex;  // Use flexbox to arrange the components vertically
  flex-direction: column; // Stack the components vertically
  align-items: center; // Center the components horizontally
  padding: 0;
  margin: 0;
  // Define the rectangular component styles
  .component {
    display: flex;
    margin: 0;
    width: 100%; // Set the width of each component
    height: $chatHeight; // Set the height of each component
    background-color: transparent;
    color: #fff; // For better visibility, let's set the text color to white
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none;
    .iconContainer{
      @include customImageContainer($chatIconMargin, $chatIconSize);
      flex: 0 0 $chatIconSize;
    }
    .text{
      flex: 1;
      padding: 6px;
      overflow: hidden;
      strong{
        font-size: 18px;
      }
    }

    &:hover{
      background-color: #36373D;
    }
  }
}