.messageContainer {
  display: flex;
  color: #e8e8e8;
  flex-direction: column-reverse; // Show the components from bottom to top
  height: 100%; // Set the container to fill the entire viewport height
  overflow-y: auto;
  overflow-x: clip;
}
