@import "../imageContainer";

.panel {
  z-index: 990;
  width: 330px;
  max-height: 520px;
  background-color: #232323;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  overflow: hidden;

  .profileColor {
    background-color: #F1930F;
    height: 80px;
    //border-radius: 5px;
    position: relative;
    object-fit: cover;

    .iconContainer {
      @include customImageContainer(0, 80px);
      position: absolute;
      bottom: -50px;
      left: 40px;
      border: #232323 solid 5px;
      background-color: #232323;
    }

    margin-bottom: 30px;
  }

  .info {
    margin: 15px {
      top: 20px;
    }
    background: #1A1A1A;
    border-radius: 5px;
    font-size: 15px;

    & > * {
      margin-left: 16px;
      margin-right: 16px;

      &:first-child {
        margin-top: 11px;
      }

      &:last-child {
        margin-bottom: 14px;
      }
    }

    h1 {
      font-size: 20px;
      font-weight: 600;
    }

    h2 {
      font-weight: 500;
    }

    & > p {
      margin-top: 8px;
    }

    p {
      font-weight: 300;
    }

    hr {
      margin-bottom: 6px;
      margin-top: 6px;
    }

    .section {
      user-select: none;

      h3 {
        font-weight: 600;
        color: #F9A938;
        text-transform: uppercase;
      }

      margin-bottom: 15px;

      .roleContainer {
        display: flex;
        flex-direction: row;

        .role {
          background: #F1930F;
          border-radius: 5px;
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 2px;

          svg {
            margin: 4px {
              right: 6px;
            };
          }
          p {
            font-weight: 500;
          }

          margin-right: 4px;
        }
      }
    }

    input {
      height: 44px;
      border-radius: 5px;
      border: 1px solid #717171;
      background: transparent;
      width: calc(100% - 60px);

      &:focus {
        outline: none;
      }

      padding-left: 12px;
      padding-right: 12px;
      color: white;
    }
  }
}