$chatsColumnWidth: 238px;

.container{
  display: flex;
  &>* {
    box-sizing: border-box;
    float: left;
    overflow: hidden;
    height: 100vh;
    &.leftColumn {
      flex: 0 0 $chatsColumnWidth;
      background: #2B2D31;
    }
    &.middleColumn {
      flex: 1;
      background: #313338;
    }
    &.rightColumn {
      flex: 0 0 300px;
      background: #2B2D31;

      &.hide {
        display: none;
      }
    }
  }
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}