@import "../../../imageContainer";

$avatarIndentation: 12px;
$avatarSize: 40px;

.content {
  max-width: 100%;
  word-wrap: break-word;
  overflow-wrap: break-word;
  font-size: 13.5px;

  .attachment {
    max-width: 300px;
    max-height: 300px;

    & > img {
      object-fit: cover;
      max-width: 300px;
      max-height: 300px;
    }
  }

  .attachment {
    max-width: 300px;
    max-height: 300px;

    & > * {
      object-fit: cover;
      max-width: 300px;
      max-height: 300px;
    }
  }

  & > .header {
    margin-top: 4px;
    display: flex;

    strong {
      color: #F9A938;
      font-weight: 500;
      font-size: 15px;
    }

    & > span {
      margin-top: 4px;
      margin-left: 5px;
      color: #A2A2A2;
      font-size: 11px;
      display: flex;
      align-items: flex-end;
      font-weight: 300;
    }

    margin-bottom: 4px;
  }

  flex: 1;
}

.compactMessage {
  margin-top: 4px;
  padding-left: $avatarIndentation;

  & > .content {
    margin-left: calc($avatarSize + 4px + $avatarIndentation);
  }
}


.message {
  margin-top: 10px;
  padding-left: $avatarIndentation;
  display: flex;
  width: calc(100% - $avatarIndentation);

  & > .avatar {
    @include customImageContainer(2px, $avatarSize);
    flex: 0 0 40px;
  }

  & > .content {
    margin-left: $avatarIndentation;
  }
}