@import "../../../imageContainer";

$avatarIndentation: 12px;
$avatarSize: 40px;

.messageContainer {
  width: 100%;
  &:hover {
    background-color: #2d2d2d;

    .time {
      color: #A2A2A2;
    }
  }
}

.content {
  max-width: calc(100% - 70px);
  word-wrap: break-word;
  overflow-wrap: break-word;
  font-size: 13.5px;

  .attachment {
    user-select: none;
    max-width: 400px;
    //max-height: 400px;

    .mediaContainer {
      width: fit-content;
      height: fit-content;
      overflow: hidden;
      border-radius: 10px;

      .dummy {
        width: 400px;
        height: 400px;
        border-radius: 10px;
        background-color: #1D1D1D;
      }

      img, video, audio {
        max-width: 400px;
        max-height: 390px;
        border-radius: 10px;
      }

      &.spoiler > * {
        filter: blur(44px);

        &:hover {
          cursor: pointer;
        }
      }
      .spoilerText {
        text-transform: uppercase;
        letter-spacing: .5px;
        font-size: 15px;
        background-color: #181818;
        cursor: pointer;
        font-weight: 600;
        border-radius: 20px;
        z-index: 100;
      }
    }
  }

  & > .header {
    margin-top: 4px;
    display: flex;

    strong {
      color: #F9A938;
      font-weight: 500;
      font-size: 15px;
    }

    & > span {
      margin-top: 4px;
      margin-left: 5px;
      color: #A2A2A2;
      font-size: 11px;
      display: flex;
      align-items: flex-end;
      font-weight: 300;
    }

    margin-bottom: 4px;
  }

  flex: 1;
}

.compactMessage {
  position: relative;
  margin-top: 4px;
  padding-left: $avatarIndentation;

  & > .time {
    user-select: none;
    position: absolute;
    color: transparent;
    font-weight: 300;
    font-size: 11px;
  }

  & > .content {
    margin-left: calc($avatarSize + 4px + $avatarIndentation);
  }
}


.message {
  margin-top: 10px;
  padding-left: $avatarIndentation;
  display: flex;
  width: calc(100% - $avatarIndentation);

  & > .avatar {
    @include customImageContainer(2px, $avatarSize);
    flex: 0 0 40px;
  }

  & > .content {
    margin-left: $avatarIndentation;
  }
}

.divider {
  margin-top: 20px;
  display: flex;
  border-top: #888888 solid 1px;
  justify-content: center;
  background-color: #313131;
  position: relative;
  color: #888888;
  span {
    background-color: inherit;
    position: absolute;
    top: -10px;
    padding: 0 10px;
  }
}