*{
  -webkit-user-drag: none;
  font-family: 'gg sans', sans-serif;
  font-size: 14px;
}
body{
  margin: 0;
}


.container{
  display: flex;
  flex: 1;
  &>* {
    box-sizing: border-box;
    float: left;
    height: 100vh;
    overflow: hidden;
  }
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}
