.section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin: {
    top: 200px;
    bottom: 200px;
    right: 15%;
    left: 15%;
  }
  &.first {
    margin-top: 100px;
  }
  &.reverse {
    flex-direction: row-reverse;
  }
  &.narrow {
    flex-direction: column;
  }
}