.block {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 30px;

  & > img {
    &:not(.narrow) {
      height: 100%;
    }

    &.narrow {
      width: 200%;
    }
  }

  &.narrow {
    margin-right: 100px;
  }
}