.footer {
  background-color: #232323;
  height: 575px;
  padding-top: 80px;

  .row {
    margin: {
      left: 126px;
      right: 200px;
      top: 80px;
      bottom: 33px;
    };
    border-bottom: #AB701E solid 1px;
    display: flex;
    height: 360px;
  }

  .imaginePlace {
    margin-left: 40px;
    width: 280px;

    h1 {
      color: #F9A938;
      font-size: 32px;
      font-weight: 800;
      width: 200px;
      text-transform: uppercase;
    }
  }

  table {
    user-select: none;
    flex: 1;
    margin-left: 10%;
    height: fit-content;

    th {
      text-align: left;
      color: #F9A938;
    }

    td {
      padding-top: 12px;
      & > * {
        color: white;
      }
    }

    td, th {
      font-size: 15px;
      font-weight: 400;
      width: 115px;
      padding-left: 20px;
    }
  }
}

.mediaSection {
  display: flex;
  margin-top: 25px;

  img {
    margin-right: 24px;

    &:hover {
      cursor: pointer;
    }
  }
}

.button {
  user-select: none;
  box-sizing: border-box;
  padding: 8px 15px;
  font-size: 13px;
  font-weight: 500;
  border-radius: 28px;
  margin-right: 202px;
  float: right;
  background-color: white;
  color: #23272A;
  &:hover {
    cursor: pointer;
  }
}