@import "../imageContainer";

$backgroundColor: #181818;
$serverIconMargin: 8px;
$serverColumnWidth: 66px;
$size: calc(#{$serverColumnWidth} - #{$serverIconMargin * 2});

.serversColumn {
  flex: 0 0 $serverColumnWidth;
  background: $backgroundColor;
  overflow-y: auto;
  overflow-x: hidden;
}

.incomeMessages {
  margin: {
    top: 10px;
    bottom: 10px;
  };

  .separator {
    height: 2px;
    border-radius: 1px;
    background-color: #F1930F;
    margin: 10px;
  }

  .chatContainer {
    position: relative;
  }
}

.unread {
  position: absolute;
  bottom: 0;
  right: 8px;
  width: 16px;
  height: 16px;
  border-radius: 100%;
  background-color: #da2a00;
  font-weight: 500;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 900;
}

.icon {
  .textContainer {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    h1 {
      font-size: 20px;
      font-weight: 200;
    }
  }

  @include customImageContainer($serverIconMargin,
          $size);

  &.serverMainIcon {
    background-color: #232323;

    &:hover {
      background-color: #F9A938;
    }

    &.selected {
      background-color: #F9A938;

    }
  }

  &.addServerIcon {
    background-color: #232323;

    & > .iconContainer {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center; /* Center vertically */
      justify-content: center; /* Center horizontally */
    }

    & div svg rect {
      fill: #F9A938;
      transition: fill 0.3s ease; /* Add transition for fill */
    }

    &:hover {
      background-color: #F9A938;

      & div svg rect {
        fill: #fff;
      }
    }
  }

  .tooltip {
    visibility: hidden;
    position: fixed;
    //transform: translateX(calc($size + $size / 1.5));
    //left: calc(0 - $size - $size / 4);
    margin-left: calc($size + $size / 4);
    margin-top: calc($size / 4);
    background-color: transparent;
    color: transparent;
    transition: background-color 0.3s ease, color 0.3s ease;
    border-radius: 5px;
    padding: 8px;
    z-index: 100;
  }

  transition: border-radius 0.3s ease,
  background-color 0.3s ease;


  &:hover {
    border-radius: 30%;
    cursor: pointer;

    & .tooltip {
      visibility: visible;
      background-color: $backgroundColor;
      color: white;
    }
  }

  &.selected {
    border-radius: 30%;
  }

}

