@import "../App.module";
@import "../imageContainer";

$serverIconMargin: 8px;

.serverIconContainer {
  @include customImageContainer(
                  $serverIconMargin,
                  calc(#{$serverColumnWidth} - #{$serverIconMargin * 2})
  );

  transition: border-radius 0.3s ease;

  &:hover {
    border-radius: 30%;
  }
}