.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  overflow: auto;
  height: 471px;

  .item {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;

    & > img {
      width: 100%;
      height: 100%;
    }
    &:hover {
      cursor: pointer;
      background-color: #4b4b4b;
    }
  }
}