.contextMenu {
  position: absolute;
  width: 200px;
  background: #181818;
  border-radius: 5px;
  z-index: 1001;
  user-select: none;
  padding: 8px {
    bottom: 6px;
  };

  .option {
    margin: {
      bottom: 2px;
    };
    padding: 0 5px;
    width: calc(100% - 10px);
    height: 30px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    font-weight: 500;

    &:not(.disabled, .danger, .highlight) {
      color: #B2B2B2;
    }

    &:not(.disabled, .danger):hover {
      color: white;
      background: #F1930F;
    }
  }

  hr {
    border: 1px solid #717171;
    margin: 4px;
  }
}

.danger {
  color: #da2a00;

  &:not(.disabled):hover {
    background: #da2a00;
    color: white;
  }
}

.highlight {
  color: #F1930F;

  &:not(.disabled):hover {
    color: #B2B2B2;
  }
}

.disabled {
  color: #717171
}

