@import "../imageContainer";

$backgroundColor: #313131;

.friendsField {
  display: flex;
  flex-direction: column;
  flex: 1;
  background: $backgroundColor;
  box-sizing: border-box;
  float: left;
  overflow: hidden;
  height: 100vh;
  user-select: none;

  & > .search {
    margin: {
      top: 16px;
      left: 10px;
      right: 10px;
    }
    padding-left: 8px;
  }

  & > .firstRow {
    display: flex;
    flex-direction: row;
    padding-left: 13px;
    //height: 56px; // Set the height of the first row
    //background-color: #181818;
    color: #fff;
    //border-bottom: 1.5px solid #AB701E;

    & > .tab {
      white-space: nowrap;
      font-size: 15px;
      font-weight: 800;
      color: #AB701E;
      height: 21px;
      justify-content: center;
      text-align: center;
      margin: {
        top: 13px;
        right: 21px;
      }
      padding: 2px {
        top: 5px;
      }
      border-radius: 4px;

      &:hover {
        color: #F9A938;
        cursor: pointer;
      }

      &.selected {
        color: #F9A938;
        cursor: pointer;
      }

      &.addFriendTab {
        color: #F5650C;

        &:hover {
          background-color: #F5650C;
          color: #232323;
          cursor: pointer;
        }

        &.selected {
          background-color: #F5650C;
          color: #232323;
          cursor: pointer;
        }
      }
    }
  }
}

$itemHeight: 50px;
$iconSize: 36px;
$iconMargin: 7px;

.list {
  list-style: none;
  display: flex; // Use flexbox to arrange the components vertically
  flex-direction: column; // Stack the components vertically
  align-items: center; // Center the components horizontally
  padding: 0;
  margin: {
    top: 10px;
    left: 10px;
    right: 10px;
  }

  .item {
    display: flex;
    border-radius: 6px;
    margin-top: 4px;
    width: 100%; // Set the width of each component
    border-top: 1px solid #AB701E;

    background-color: transparent;
    color: #fff; // For better visibility, let's set the text color to white
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none;

    .innerContainer {
      flex: 1;
      display: flex;
    }
    .iconContainer {
      @include customImageContainer($iconMargin, $iconSize);
      flex: 0 0 $iconSize;
    }

    &:hover {
      background-color: #333333;
      cursor: pointer;
    }

    .buttonsContainer {
      width: fit-content;
      float: right;
      flex: 0 0 80px;
      max-width: 80px;
      display: flex;
      align-items: center;
      justify-content: right;
      & > .button {
        display: flex;
        align-items: center;
        margin: 3px;
        //background-color: green;
        height: 100%;
        width: 30px;
        & > * {
          margin: 5px
        }
      }
    }
  }

  .content {
    flex: 1;
    padding-top: 6px;
    padding-left: 6px;

    & > * {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      width: 80%;
      height: 20px;
    }

    & > strong {
      font-size: 15px;
      font-weight: 500;
    }

    *:not(strong) {
      font-size: 13px;
      color: #AB701E;
      font-weight: 700;
    }
  }
}

.addFriendSection {
  color: white;
  h2 {
    margin-top: 14px;
    color: #F9A938;
  }
  p {
    margin-top: 4px;
    color: #A2A2A2;
  }

  & > * {
    margin: {
      left: 10px;
    }

    &.inputContainer {
      position: relative;
      margin-left: 0;

      & > .input {
        height: 40px;
        padding-left: 10px;
        width: calc(100% - 36px);
        margin: {
          left: 10px;
          right: 10px;
        }
        border-radius: 10px;
      }

      & > .submitButton {
        position: absolute;
        top: 19px;
        right: 30px;

        font-size: 15px;
        font-weight: 800;
        height: 21px;
        justify-content: center;
        text-align: center;
        border-radius: 4px;
        padding: 2px {
          top: 5px;
        }

        background-color: #F5650C;
        color: white;
        &.disabled{
          color: #F5650C;
          background: #1D1D1B;
        }
        &:not(.disabled){
          &:hover {
            cursor: pointer;
          }
        }
      }
    }
  }
}
.errorText {
  color: #da2a00;
}
.successText {
  color: #88cc00;
}