.infoColumn {
  overflow: hidden;
  float: right;
  flex: 0 0 330px;
  background: #232323;
  transition: flex 0.3s ease;
  &>* {
    border-radius: 0;
  }

  &.hide {
    flex: 0 0 0;
  }
}

.infoContainer {
  position: fixed;
  right: 340px;
  z-index: 997;
}