.templateText {
  margin-top: 10px;
  margin-bottom: 18px;
  font-size: 15px;
  font-weight: 600;
  text-align: left;
  width: 100%;
}
.haveAlready {
  margin-top: 11px;
  margin-bottom: 29px;
  font-size: 24px;
  font-weight: 400;
  text-align: center;
  width: 100%;
}
.button {
  border-radius: 5px;
  background: #F1930F;
  width: 410px;
  font-size: 20px;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}